  <head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>


<body style="">
<div style="width: 110mm;">
  <!--startprint-->
  <div style="width: 110mm; height:auto ">
            <div style="margin-right:2mm; margin-bottom:2mm;width: 50mm; height: 30mm; float: left;padding-left: 1.5mm ;background: darkgrey;">
              <label style="display: block ; font-size: 7mm">   女 4FE E426</label>
              <label style="display: block ;font-size: 5mm">货号：  1988</label>
              <label style="font-size: 4mm;display: block">黑色尺寸：L</label>
              <div style="float: left;padding-left:0.2em;">

              <label style="display: block;font-size: 4mm">数量：1</label>
              <label style="display: block;font-size: 3mm">2019-07-03</label>
              </div>
              <div style="width: 1.5em; float: left;font-size: 11mm"><label>圆</label></div>
            </div>
            <div style="width: 50mm;margin-bottom:2mm; height: 30mm; float: left; padding-left: 1.5mm;background: darkgrey;">
              <label style="display: block ; font-size: 7mm">   富 4F 087 </label>
              <label style="display: block ;font-size: 5mm">货号：  1129</label>
              <label style="font-size: 4mm;display: block">红裙子+白开衫尺码：3XL</label>
              <div style="float: left;padding-left:0.2em;">

              <label style="display: block;font-size: 4mm">数量：1</label>
              <label style="display: block;font-size: 3mm">2019-07-03</label>
              </div>
              <div style="width: 1.5em; float: left;font-size: 11mm"><label>韵</label></div>
            </div>
   </div>
 <div style="width: 110mm; height:auto ">
            <div style="margin-right:2mm; margin-bottom:2mm;width: 50mm; height: 30mm; float: left;padding-left: 1.5mm ;background: darkgrey;">
              <label style="display: block ; font-size: 7mm">   豪  1F A12</label>
              <label style="display: block ;font-size: 5mm">货号：  978</label>
              <label style="font-size: 4mm;display: block">蜜桃粉尺寸：XL</label>
              <div style="float: left;padding-left:0.2em;">

              <label style="display: block;font-size: 4mm">数量：1</label>
              <label style="display: block;font-size: 3mm">2019-07-03</label>
              </div>
              <div style="width: 1.5em; float: left;font-size: 11mm"><label>圆</label></div>
            </div>
            <div style="width: 50mm;margin-bottom:2mm; height: 30mm; float: left; padding-left: 1.5mm;background: darkgrey;">
              <label style="display: block ; font-size: 7mm">   女 4FE E426-A</label>
              <label style="display: block ;font-size: 5mm">货号：  8369</label>
               <label style="font-size: 4mm;display: block">黑色尺寸：L</label>
              <div style="float: left;padding-left:0.2em;">

              <label style="display: block;font-size: 4mm">数量：1</label>
              <label style="display: block;font-size: 3mm">2019-07-03</label>
              </div>
              <div style="width: 1.5em; float: left;font-size: 11mm"><label>圆</label></div>
            </div>
          <div style="margin-right:2mm; margin-bottom:2mm;width: 50mm; height: 30mm; float: left;padding-left: 1.5mm ;background: darkgrey;">
              <label style="display: block ; font-size: 7mm">   泓 2F 223</label>
              <label style="display: block ;font-size: 5mm">货号：  1057</label>
            <label style="font-size: 4mm;display: block">黑色七分裤尺寸：4XL</label>
              <div style="float: left;padding-left:0.2em;">

              <label style="display: block;font-size: 4mm">数量：1</label>
              <label style="display: block;font-size: 3mm">2019-07-03</label>
              </div>
              <div style="width: 1.5em; float: left;font-size: 11mm"><label>圆</label></div>
            </div>
             <div style="margin-right:2mm; margin-bottom:2mm;width: 50mm; height: 30mm; float: left;padding-left: 1.5mm ;background: darkgrey;">
              <label style="display: block ; font-size: 7mm">   泓  2F  223</label>
              <label style="display: block ;font-size: 5mm">货号：  1027</label>
               <label style="font-size: 4mm;display: block">黑色九分裤尺寸：3XL</label>
              <div style="float: left;padding-left:0.2em;">

              <label style="display: block;font-size: 4mm">数量：1</label>
              <label style="display: block;font-size: 3mm">2019-07-03</label>
              </div>
              <div style="width: 1.5em; float: left;font-size: 11mm"><label>圆</label></div>
            </div>
             <div style="margin-right:2mm; margin-bottom:2mm;width: 50mm; height: 30mm; float: left;padding-left: 1.5mm ;background: darkgrey;">
              <label style="display: block ; font-size: 7mm"> 富 1F  1F159</label>
              <label style="display: block ;font-size: 5mm">货号：   8306</label>
               <label style="font-size: 4mm;display: block">浅蓝色尺码：3XL</label>
              <div style="float: left;padding-left:0.2em;">

              <label style="display: block;font-size: 4mm">数量：1</label>
              <label style="display: block;font-size: 3mm">2019-07-03</label>
              </div>
              <div style="width: 1.5em; float: left;font-size: 11mm"><label>韵</label></div>
            </div>
             <div style="margin-right:2mm; margin-bottom:2mm;width: 50mm; height: 30mm; float: left;padding-left: 1.5mm ;background: darkgrey;">
              <label style="display: block ; font-size: 7mm">   晟 1FA A26-C</label>
              <label style="display: block ;font-size: 5mm">货号：  115  </label>
               <label style="font-size: 4mm;display: block">白色 均码</label>
              <div style="float: left;padding-left:0.2em;">

              <label style="display: block;font-size: 4mm">数量：1</label>
              <label style="display: block;font-size: 3mm">2019-07-03</label>
              </div>
              <div style="width: 1.5em; float: left;font-size: 11mm"><label>圆</label></div>
            </div>
             <div style="margin-right:2mm; margin-bottom:2mm;width: 50mm; height: 30mm; float: left;padding-left: 1.5mm ;background: darkgrey;">
              <label style="display: block ; font-size: 7mm">   富 4F 4F087 </label>
              <label style="display: block ;font-size: 5mm">货号：  1129</label>
               <label style="font-size: 4mm;display: block">红裙子+白开衫尺码：2XL</label>
              <div style="float: left;padding-left:0.2em;">

              <label style="display: block;font-size: 4mm">数量：2</label>
              <label style="display: block;font-size: 3mm">2019-07-03</label>
              </div>
              <div style="width: 1.5em; float: left;font-size: 11mm"><label>圆</label></div>
            </div>
             <div style="margin-right:2mm; margin-bottom:2mm;width: 50mm; height: 30mm; float: left;padding-left: 1.5mm ;background: darkgrey;">
              <label style="display: block ; font-size: 7mm">  豪 1F A12 </label>
              <label style="display: block ;font-size: 5mm">货号：  978</label>
               <label style="font-size: 4mm;display: block">黑色尺寸：M</label>
              <div style="float: left;padding-left:0.2em;">

              <label style="display: block;font-size: 4mm">数量：1</label>
              <label style="display: block;font-size: 3mm">2019-07-03</label>
              </div>
              <div style="width: 1.5em; float: left;font-size: 11mm"><label>圆</label></div>
            </div>
             <div style="margin-right:2mm; margin-bottom:2mm;width: 50mm; height: 30mm; float: left;padding-left: 1.5mm ;background: darkgrey;">
              <label style="display: block ; font-size: 7mm">   女 4FE E426</label>
              <label style="display: block ;font-size: 5mm">货号：  1988</label>
               <label style="font-size: 4mm;display: block">黑色尺寸：L</label>
              <div style="float: left;padding-left:0.2em;">

              <label style="display: block;font-size: 4mm">数量：1</label>
              <label style="display: block;font-size: 3mm">2019-07-03</label>
              </div>
              <div style="width: 1.5em; float: left;font-size: 11mm"><label>圆</label></div>
            </div>
             <div style="margin-right:2mm; margin-bottom:2mm;width: 50mm; height: 30mm; float: left;padding-left: 1.5mm ;background: darkgrey;">
              <label style="display: block ; font-size: 7mm">   女 4FE E440-A</label>
              <label style="display: block ;font-size: 5mm">货号：  9067</label>
               <label style="font-size: 4mm;display: block">黑色尺寸：S  </label>
              <div style="float: left;padding-left:0.2em;">

              <label style="display: block;font-size: 4mm">数量：1</label>
              <label style="display: block;font-size: 3mm">2019-07-03</label>
              </div>
              <div style="width: 1.5em; float: left;font-size: 11mm"><label>圆</label></div>
            </div>
             <div style="margin-right:2mm; margin-bottom:2mm;width: 50mm; height: 30mm; float: left;padding-left: 1.5mm ;background: darkgrey;">
              <label style="display: block ; font-size: 7mm">   女 4FE E426</label>
              <label style="display: block ;font-size: 5mm">货号：  1988</label>
                 <label style="font-size: 4mm; display: block">黑色尺寸：L</label>
              <div style="float: left;padding-left:0.2em;">

              <label style="display: block;font-size: 4mm">数量：1</label>
              <label style="display: block;font-size: 3mm">2019-07-03</label>
              </div>
              <div style="width: 1.5em; float: left;font-size: 11mm"><label>圆</label></div>
            </div>
             <div style="margin-right:2mm; margin-bottom:2mm;width: 50mm; height: 30mm; float: left;padding-left: 1.5mm ;background: darkgrey;">
              <label style="display: block ; font-size: 7mm">   泓 2F 223  </label>
              <label style="display: block ;font-size: 5mm">货号：  1027</label>
               <label style="font-size: 4mm;display: block">黑色九分裤尺寸：3XL </label>
              <div style="float: left;padding-left:0.2em;">

              <label style="display: block;font-size: 4mm">数量：1</label>
              <label style="display: block;font-size: 3mm">2019-07-03</label>
              </div>
              <div style="width: 1.5em; float: left;font-size: 11mm"><label>圆</label></div>
            </div>


   </div>

  <!--endprint-->



<!--<button id="print1">打印全部</button>-->
  <div style="display: block;">
      <button  id="print2" onclick="doPrint()">打印指定部分</button>
  </div>

<!--<button id="print3">打印除某部分之外的的部分</button>-->
  </div>
</body>
<script>
  function doPrint() {
        bdhtml=window.document.body.innerHTML;
        sprnstr="<!--startprint-->";
        eprnstr="<!--endprint-->"; //结束打印标识字符串
        // prnhtml=bdhtml.substr(bdhtml.indexOf(sprnstr)+17); //从开始打印标识之后的内容
        prnhtml=bdhtml.substring(bdhtml.indexOf(sprnstr)+17,bdhtml.indexOf(eprnstr)); //截取开始标识和结束标识之间的内容
        window.document.body.innerHTML=prnhtml; //把需要打印的指定内容赋给body.innerHTML
        window.print(); //调用浏览器的打印功能打印指定区域
        window.document.body.innerHTML=bdhtml; // 最后还原页面
    }
</script>

